.header {
    font-family: "Bebas Neue", sans-serif;
    padding: 0.65rem 9rem;
    background-color: rgb(49, 51, 59, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 5px 10px 18px var(--background);

    a {
        text-decoration: none;
        color: var(--black);
    }

    h1 {
        transition: all .4s ease-in-out;
        
        &:hover {
            color: var(--primary);
            
            .yellow {
                color: var(--black);
            }
        }
        
        .yellow {
            transition: all .4s ease-in-out;
            color: var(--primary);
        }
    }
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0.5rem;

        h1 {
            margin-top: 10px !important;
        }
    }
}
