.footer {
    height: 80vh;
    background-color: var(--secondary);
    padding: 4rem 10rem;
    text-align: center;

    h1 {
        font-size: 70px;
        font-weight: 700;
    }

    p {
        font-size: 20px;
        padding: 1rem 10rem;
    }

    .btn-outline-primary {
        border: 1px solid var(--primary);
        color: var(--primary);
        font-weight: 500;
        padding: .7rem 3rem;
        transition: all .1s ease-in-out;

        &:hover {
            background-color: var(--primary);
            color: var(--secondary);
            border: 1px solid var(--background);
        }
    }
}

.snail {
    // width: 100%;
    background-color: var(--secondary);
    overflow: hidden;
    height: auto;
    position: relative;
  }

@media screen and (max-width: 768px) {
    .footer {
        padding: 4rem 12px;
        // height: 0vh;

        h1 {
            font-size: 38px;
        }

        p {
            font-size: 12px;
            padding: 0;
        }

        // .git {
        //     display: block !important;
        // }
    }
 }