*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--background);
    color: var(--black);
    // overflow: hidden;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .cursor {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    transition: width 0.2s, height 0.2s, background-color 0.2s;
  }

  .text-primary {
    color: var(--primary) !important;
  }

  footer {
    // border-top: 2px solid var(--primary);
    // padding: 1rem 0;

    .line-gradient {
      width: 100%;
      height: 2.5px;
      background: linear-gradient(to right, transparent, var(--primary), transparent);
    }

    a {
      text-decoration: none;
      color: var(--black);

      i {
        font-size: 30px;
      }
    }
  }

  .text-title {
    margin-bottom: 3rem !important;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .cursor {
      display: none;
    }
   }